// 极诣·剑魂
.weapon_master {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_01_01.png) no-repeat;
}

// 极诣·鬼泣
.soul_bender {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_01_02.png) no-repeat;
}

// 极诣·狂战士
.berserker {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_01_03.png) no-repeat;
}

// 极诣·阿修罗
.asura {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_01_04.png) no-repeat;
}

// 极诣·剑影
.ghostblade {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_01_05.png) no-repeat;
}

// 极诣·驭剑士
.sword_master {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_02_01.png) no-repeat;
}

// 极诣·暗殿骑士
.dark_templar {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_02_04.png) no-repeat;
}

// 极诣·契魔者
.demon_slayer {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_02_02.png) no-repeat;
}

// 极诣·流浪武士
.vegabond {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_02_03.png) no-repeat;
}

// 极诣·刃影
.spectre {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_02_05.png) no-repeat;
}

// 归元·气功师
.nenmaster_male {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_03_01.png) no-repeat;
}

// 归元·散打
.striker_male {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_03_02.png) no-repeat;
}

// 归元·街霸
.brawler_male {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_03_03.png) no-repeat;
}

// 归元·柔道家
.grappler_male {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_03_04.png) no-repeat;
}

// 归元·气功师
.nenmaster_female {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_04_01.png) no-repeat;
}

// 归元·散打
.striker_female {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_04_02.png) no-repeat;
}

// 归元·街霸
.brawler_female {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_04_03.png) no-repeat;
}

// 归元·柔道家
.grappler_female {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_04_04.png) no-repeat;
}

// 重霄·漫游枪手
.ranger_male {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_05_01.png) no-repeat;
}

// 重霄·枪炮师
.launcher_male {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_05_02.png) no-repeat;
}

// 重霄·机械师
.mechanic_male {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_05_03.png) no-repeat;
}

// 重霄·弹药专家
.spitfire_male {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_05_04.png) no-repeat;
}

// 重霄·合金战士
.assault {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_05_05.png) no-repeat;
}

// 重霄·漫游枪手
.ranger_female {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_06_01.png) no-repeat;
}

// 重霄·枪炮师
.launcher_female {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_06_02.png) no-repeat;
}

// 重霄·机械师
.mechanic_female {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_06_03.png) no-repeat;
}

// 重霄·弹药专家
.spitfire_female {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_06_04.png) no-repeat;
}

// 知源·元素爆破师
.elemental_bomber {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_07_01.png) no-repeat;
}

// 知源·冰结师
.glacial_master {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_07_02.png) no-repeat;
}

// 知源·血法师
.blood_mage {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_07_03.png) no-repeat;
}

// 知源·逐风者
.swift_master {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_07_04.png) no-repeat;
}

// 知源·次元行者
.dimension_walker {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_07_05.png) no-repeat;
}

// 知源·元素师
.elementalist {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_08_01.png) no-repeat;
}

// 知源·召唤师
.summoner {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_08_02.png) no-repeat;
}

// 知源·战斗法师
.battle_mage {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_08_03.png) no-repeat;
}

// 知源·魔道学者
.witch {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_08_04.png) no-repeat;
}

// 知源·小魔女
.enchantress,
.enchantress_carry {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_08_05.png) no-repeat;
}

// 神启·圣骑士
.crusader_male,
.crusader_male_carry {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_09_01.png) no-repeat;
}

// 神启·蓝拳圣使
.infighter {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_09_02.png) no-repeat;
}

// 神启·驱魔师
.exorcist {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_09_03.png) no-repeat;
}

// 神启·复仇者
.avenger {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_09_04.png) no-repeat;
}

// 神启·圣骑士
.crusader_female {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_10_01.png) no-repeat;
}

// 神启·异端审判者
.inquistor {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_10_02.png) no-repeat;
}

// 神启·巫女
.sorceress {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_10_03.png) no-repeat;
}

// 神启·诱魔者
.mistress {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_10_04.png) no-repeat;
}

// 隐夜·刺客
.rogue {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_11_01.png) no-repeat;
}

// 隐夜·死灵术士
.necro {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_11_02.png) no-repeat;
}

// 隐夜·忍者
.kunoichi {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_11_03.png) no-repeat;
}

// 隐夜·影舞者
.shadow_dancer {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_11_04.png) no-repeat;
}

// 皓曦·精灵骑士
.elven_knight {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_12_01.png) no-repeat;
}

// 皓曦·混沌魔灵
.chaos {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_12_02.png) no-repeat;
}

// 皓曦·帕拉丁
.paladin {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_12_03.png) no-repeat;
}

// 皓曦·龙骑士
.dragon_knight {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_12_04.png) no-repeat;
}

// 千魂·征战者
.vanguard {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_13_01.png) no-repeat;
}

// 千魂·决战者
.skirmisher {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_13_02.png) no-repeat;
}

// 千魂·狩猎者
.dragoon {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_13_03.png) no-repeat;
}

// 千魂·暗枪士
.impaler {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_13_04.png) no-repeat;
}

// 苍暮·暗刃
.hitman {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_14_03.png) no-repeat;
}

// 苍暮·特工
.agent {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_14_01.png) no-repeat;
}

// 苍暮·战线佣兵
.trouble_shooter {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_14_02.png) no-repeat;
}

// 苍暮·源能专家
.specialist {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_14_04.png) no-repeat;
}

// 极诣·黑暗武士
.dark_knight {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_15_01.png) no-repeat;
}

// 知源·缔造者
.creator {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_16_01.png) no-repeat;
}

// 聆风·缪斯
.muse {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_17_01.png) no-repeat;
}

// 聆风·旅人
.traveler {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_17_02.png) no-repeat;
}

// 聆风·猎人
.hunter {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_17_03.png) no-repeat;
}

// 聆风·妖护使
.vigilante {
  background: url(https://bbscdn.df.nexon.com/pg/characters/img/main/mc_17_04.png) no-repeat;
}
