// 极诣·剑魂
.weapon_master {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg01_3.jpg) no-repeat;
}
// 极诣·鬼泣
.soul_bender {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg02_3.jpg) no-repeat;
}
// 极诣·狂战士
.berserker {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg03_3.jpg) no-repeat;
}
// 极诣·阿修罗
.asura {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg04_3.jpg) no-repeat;
}
// 极诣·剑影
.ghostblade {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg05_3.jpg) no-repeat;
}
// 极诣·驭剑士
.sword_master {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg06_3.jpg) no-repeat;
}
// 极诣·暗殿骑士
.dark_templar {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg09_3.jpg) no-repeat;
}
// 极诣·契魔者
.demon_slayer {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg07_3.jpg) no-repeat;
}
// 极诣·流浪武士
.vegabond {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg08_3.jpg) no-repeat;
}
// 极诣·刃影
.spectre {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg62_3.jpg) no-repeat;
}
// 归元·气功师
.nenmaster_male {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg10_3.jpg) no-repeat;
}
// 归元·散打
.striker_male {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg11_3.jpg) no-repeat;
}
// 归元·街霸
.brawler_male {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg12_3.jpg) no-repeat;
}
// 归元·柔道家
.grappler_male {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg13_3.jpg) no-repeat;
}
// 归元·气功师
.nenmaster_female {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg14_3.jpg) no-repeat;
}
// 归元·散打
.striker_female {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg15_3.jpg) no-repeat;
}
// 归元·街霸
.brawler_female {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg16_3.jpg) no-repeat;
}
// 归元·柔道家
.grappler_female {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg17_3.jpg) no-repeat;
}
// 重霄·漫游枪手
.ranger_male {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg18_3.jpg) no-repeat;
}
// 重霄·枪炮师
.launcher_male {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg19_3.jpg) no-repeat;
}
// 重霄·机械师
.mechanic_male {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg20_3.jpg) no-repeat;
}
// 重霄·弹药专家
.spitfire_male {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg21_3.jpg) no-repeat;
}
// 重霄·合金战士
.assault {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg63_3.jpg) no-repeat;
}
// 重霄·漫游枪手
.ranger_female {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg22_3.jpg) no-repeat;
}
// 重霄·枪炮师
.launcher_female {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg23_3.jpg) no-repeat;
}
// 重霄·机械师
.mechanic_female {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg24_3.jpg) no-repeat;
}
// 重霄·弹药专家
.spitfire_female {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg25_3.jpg) no-repeat;
}
// 知源·元素爆破师
.elemental_bomber {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg26_3.jpg) no-repeat;
}
// 知源·冰结师
.glacial_master {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg27_3.jpg) no-repeat;
}
// 知源·血法师
.blood_mage {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg28_3.jpg) no-repeat;
}
// 知源·逐风者
.swift_master {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg29_3.jpg) no-repeat;
}
// 知源·次元行者
.dimension_walker {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg30_3.jpg) no-repeat;
}
// 知源·元素师
.elementalist {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg31_3.jpg) no-repeat;
}
// 知源·召唤师
.summoner {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg32_3.jpg) no-repeat;
}
// 知源·战斗法师
.battle_mage {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg33_3.jpg) no-repeat;
}
// 知源·魔道学者
.witch {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg34_3.jpg) no-repeat;
}
// 知源·小魔女
.enchantress {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg35_3.jpg) no-repeat;
}
// 神启·圣骑士
.crusader_male,
crusader_male_carry {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg36_3.jpg) no-repeat;
}
// 神启·蓝拳圣使
.infighter {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg37_3.jpg) no-repeat;
}
// 神启·驱魔师
.exorcist {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg38_3.jpg) no-repeat;
}
// 神启·复仇者
.avenger {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg39_3.jpg) no-repeat;
}
// 神启·圣骑士
.crusader_female {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg40_3.jpg) no-repeat;
}
// 神启·异端审判者
.inquistor {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg41_3.jpg) no-repeat;
}
// 神启·巫女
.sorceress {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg42_3.jpg) no-repeat;
}
// 神启·诱魔者
.mistress {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg43_3.jpg) no-repeat;
}
// 隐夜·刺客
.rogue {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg44_3.jpg) no-repeat;
}
// 隐夜·死灵术士
.necro {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg45_3.jpg) no-repeat;
}
// 隐夜·忍者
.kunoichi {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg46_3.jpg) no-repeat;
}
// 隐夜·影舞者
.shadow_dancer {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg47_3.jpg) no-repeat;
}
// 皓曦·精灵骑士
.elven_knight {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg48_3.jpg) no-repeat;
}
// 皓曦·混沌魔灵
.chaos {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg49_3.jpg) no-repeat;
}
// 皓曦·帕拉丁
.paladin {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg50_3.jpg) no-repeat;
}
// 皓曦·龙骑士
.dragon_knight {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg51_3.jpg) no-repeat;
}
// 千魂·征战者
.vanguard {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg52_3.jpg) no-repeat;
}
// 千魂·决战者
.skirmisher {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg53_3.jpg) no-repeat;
}
// 千魂·狩猎者
.dragoon {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg54_3.jpg) no-repeat;
}
// 千魂·暗枪士
.impaler {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg55_3.jpg) no-repeat;
}
// 苍暮·暗刃
.hitman {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg58_3.jpg) no-repeat;
}
// 苍暮·特工
.agent {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg56_3.jpg) no-repeat;
}
// 苍暮·战线佣兵
.trouble_shooter {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg57_3.jpg) no-repeat;
}
// 苍暮·源能专家
.specialist {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg59_3.jpg) no-repeat;
}
.muse {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg64_3.jpg) no-repeat;
}
.traveler {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg65_3.jpg) no-repeat;
}
.hunter {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg66_3.jpg) no-repeat;
}
.vigilante {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg67_3.jpg) no-repeat;
}
// 知源·缔造者
.creator {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg61_3.jpg) no-repeat;
}
// 极诣·黑暗武士
.dark_knight {
  background: url(//cdn.df.nexon.com/img/char_info/bg/bg60_3.jpg) no-repeat;
}
