.skill-tree-line {
  height: 80px;
  width: auto;
  &:nth-child(n + 1) {
    background-color: #000000;
  }
  &:nth-child(2n + 1) {
    background-color: #202020;
  }
}

.passive {
  filter: grayscale(100%) invert(3%) sepia(14%) saturate(874%) hue-rotate(65deg) brightness(105%)
    contrast(102%);
}

.skill {
  background-image: url('./img/skill.png');
  background-size: 100% 100%;
}

.skill-active {
  background-image: url('./img/skillActive.png');
  background-size: 100% 100%;
}

.awake_50 {
  background-image: url('./img/awake_50.png');
  background-size: 100% 100%;
}

.awake_85 {
  background-image: url('./img/awake_85.png');
  background-size: 100% 100%;
}

.vp_1{
  width: 18px;
  height: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/vp_1.png);
}

.vp_2 {
  width: 18px;
  height: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/vp_2.png);
}

.up_1 {
  width: 18px;
  height: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/up_1.png);
}
.up_2 {
  width: 18px;
  height: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/up_2.png);
}
