.skill-tree-line {
  height: 80px;
  width: auto;
  &:nth-child(n + 1) {
    background-color: #000000;
  }
  &:nth-child(2n + 1) {
    background-color: #202020;
  }
}

.passive {
  filter: grayscale(100%) invert(3%) sepia(14%) saturate(874%) hue-rotate(65deg) brightness(105%) contrast(102%);
}
